
{% extends 'base.html' %}
  
  {% block title %}
      
  {% endblock %}
    

  {% block head %} 
    
  {% endblock %}
  
  
  {% block body %}
    <h1>Welcome to Beanstalk Square!</h1>


      <h3>Find Students</h3>
      <form action="/all_pods">
        <p>Zipcode<input type="text" name="zipcode"></p>
        <p> <input type="submit"></p>
      </form>

      <!--<h2>Create an account</h2>
      <form action="/users" method="POST">
        <p>Email<input type="text" name="email">
        </p>

        <p>Password<input type="password" name="password">
        </p>
        <p> <input type="submit">
        </p>
      </form>

    <h2>Login to your existing account</h2>
      <form action="/login">
        <p>Email<input type="text" name="email">
        </p>

        <p>Password<input type="password" name="password">
        </p>
        <p> <input type="submit">
        </p>
      </form> -->

  {% endblock %}

    {% block after_body %}{% endblock %}
